<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="http://casaalmada.hostinggratis.it/doc/css/reset.css">

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title></title>
</head>
<body>

    cvsa

<ul>
    <li class="nav-header"><a href="home.html">home</a></li>
    <li><a href="contacts/1">contacts</a></li>
</ul>


<ul>
{% for giornalista in giornalisti %}
    <li>
    nome {{ giornalista.nome }} {{ giornalista.cognome}}
    </li>
{% endfor %}    
</ul>

<br> <br>

<ul>
{% for articolo in articoli %}
    <li>
    <h2> <a href="detail/{{articolo.pk}}">{{ articolo.titolo }}</a></h2> <p>{{  articolo.contenuto }}</p> Autore: {{ articolo.giornalista }} <br> <br>
    </li>
{% endfor %}    
</ul>


</body>
</html>